<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      body {
        padding-top: 100px;
        background-color: #163c23;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/" style="color:#c2cd7f;">Home</a></li>
          <li class="breadcrumb-item"><a href="/posts" style="color:#c2cd7f;">Board</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Post</li>
        </ol>
      </nav>

      <form action="/posts<%= getPostQueryString() %>" enctype="multipart/form-data" method="post">

        <div class="form-group">
          <label for="title" style="color:white;">Title</label>
          <input type="text" id="title" name="title" value="<%= post.title %>" class="form-control <%= (errors.title)?'is-invalid':'' %>">
          <% if(errors.title){ %>
            <span class="invalid-feedback"><%= errors.title.message %></span>
          <% } %>
        </div>

        <div class="form-group">
          <label for="attachment" style="color:white;">Attachment</label>
          <input type="file" name="attachment" class="form-control-file" id="attachment">
        </div>

        <div class="form-group">
          <label for="body" style="color:white;">Body</label>
          <textarea id="body" name="body" rows="5" class="form-control <%= (errors.body)?'is-invalid':'' %>"><%= post.body %></textarea>
          <% if(errors.body){ %>
            <span class="invalid-feedback"><%= errors.body.message %></span>
          <% } %>
        </div>

        <% if(errors.unhandled){ %>
          <div class="invalid-feedback d-block">
            <%= errors.unhandled %>
          </div>
        <% } %>

        <div>
          <a class="btn btn-outline-warning" href="/posts<%= getPostQueryString() %>" style="color:white;">Back</a>
          <button type="submit" class="btn btn-outline-warning" style="color:white;">Submit</button>
        </div>

      </form>

    </div>
  </body>
</html>
